/* read.css */

/* タイトルを中央に寄せる */
h1 {
    text-align: center;
}

/* 投稿日を中央に寄せる */
p {
    text-align: center;
}

/* 画像を中央に寄せる */
h2 {
    text-align: center;
}

/* 画像を中央に寄せる（水平方向） */
img {
    display: block;
    margin: 0 auto;
}

/* 記事本文を中央に寄せる */
p {
    text-align: center;
}

/* トップページへのリンクを中央に寄せる */
a {
    display: block;
    text-align: center;
}
