<!-- read.html -->

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/read.css">
    <title>ブログ詳細</title>
</head>
<body>
    <h1>タイトル: {{ blog[0] }}</h1>
    <p>投稿日: {{ blog[1] }}</p>
    
    <h2>画像</h2>
    {% for i in range(images|length) %}
    <img src="data:image/jpeg;base64,{{ image_data_base64[i] }}" alt="{{ images[i][0] }}">
    {% endfor %}
    
    <p>{{ blog[2] }}</p>
    <a href="{{ url_for('top') }}">トップページに戻る</a>
</body>
</html>